body{
    color: #000;
}
.carousel-item{
    display: block;
    height: 100%;
}
.carousel-inner{
    height: 500px;
}
.carousel-caption{
    text-align: left !important;
    color: #fff !important;
}
.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(https://cdn.wallpapersafari.com/79/68/7TWlYS.jpg);
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(https://cdn.wallpapersafari.com/79/68/7TWlYS.jpg);
    
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(https://cdn.wallpapersafari.com/79/68/7TWlYS.jpg);
    
}